<div class="app-gui">
  <div class="canvas-container">
    <canvas
      appCursor
      (mousedown)="mouseDownHandler($event)"
      (mousemove)="mouseMoveHandler($event)"
      (mouseup)="mouseUpHandler($event)"
      (mouseout)='clearCanvasAndCurrentDraw()'
      #layout
      width="600"
      height="600"></canvas>
    <div class="menu">
      <!--COLOR-->
      <div>
<!--        <input-->
<!--          width='22' height='22'-->
<!--          type="color"-->
<!--          [(ngModel)]="useColor" />-->

        <input
          width='22' height='22'
          type="color"
          [(ngModel)]="useColor" />

        <span>
          {{ getRGB(useColor) }}
        </span>
      </div>

      <!--PRIMITIVES-->
      <div class="menu__primitives">
        <ng-container *ngFor="let menuItem of menuActions">
          <input
            class='btn'
            type="radio"
            [id]="menuItem.id"
            [value]="menuItem.id"
            name="drawPrimitive"
            [(ngModel)]="action"
            (input)='clearCurrentShape()'
            [ngModelOptions]="{ standalone: true }" />
          <label [for]="menuItem.id">
            <img
              [src]="menuItem.image"
              alt="icon"
              width="18" />
          </label>
        </ng-container>
      </div>

      <div class="menu__undo-redo">
        <button class='btn'
          (click)="undo()"
          [disabled]="elementsOnScreen.length === 0">
          Undo
        </button>
        <button class='btn' (click)='redo()' [disabled]='undoList.length === 0'>redo</button>
      </div>

      <div class="menu__render-mode">
        <input
          type="radio"
          [id]="renderModeEnum.SOFTWARE"
          name="renderMode"
          [value]="renderModeEnum.SOFTWARE"
          [(ngModel)]="renderMode" />
        CPU
        <input
          type="radio"
          name="renderMode"
          [id]="renderModeEnum.HARDWARE"
          [value]="renderModeEnum.HARDWARE"
          [(ngModel)]="renderMode" />
        GPU
      </div>
    </div>
  </div>

  <form>
    <span>
      Elements on screen :
      {{ this.elementsOnScreen.length }}
    </span>
    <fieldset>
      <legend>Canvas</legend>
      <label for="canvasColor"> Background: </label>
      <input
        [(ngModel)]="canvas.background"
        [ngModelOptions]="{ standalone: true }"
        id="canvasColor"
        type="color"
        (input)="updateCanvasAndDraws()" />
      <br>
      <br>

      <div>
        <label for='file'>Load File:</label>
        <br>
        <input type='file' id='file' #loadFile (change)='getFromFile($event)' accept=".txt">
      </div>
    </fieldset>

    <br>
    <div style='display: flex; justify-content: center'>
      <button type='button' class='btn btn-danger' (click)='clearCanvas()'>Clear canvas</button>
    </div>

  </form>
</div>
