<span>
  Elements on screen :
  {{this.elementsOnScreen.length}}
</span>
<div class="app-gui">
  <div class="container">
    <canvas
      (mousedown)='mouseDownHandler($event)'
      (mousemove)='mouseMoveHandler($event)'
      (mouseup)='mouseUpHandler($event)'
      #layout
      width="600"
      height="600"></canvas>
    <div class="menu">
      <!--COLOR-->
      <div>
        <input
          type="color"
          [(ngModel)]="useColor" />
        <span>
           {{ getRGB(useColor) }}
      </span>
      </div>


      <!--PRIMITIVES-->
      <div class="menu__primitives">
        <ng-container *ngFor="let menuItem of menuActions">
          <input
            type="radio"
            [id]="menuItem.id"
            [value]="menuItem.id"
            name="drawPrimitive"
            [(ngModel)]="action"
            [ngModelOptions]="{ standalone: true }" />
          <label [for]="menuItem.id">
            <img
              [src]="menuItem.image"
              alt="icon"
              width="18" />
          </label>
        </ng-container>
      </div>

      <div class="menu__undo-redo">
        <button (click)='undo()' [disabled]=' elementsOnScreen.length === 0'>Undo</button>
        <button (click)='redo()' [disabled]='undoList.length === 0'>redo</button>
      </div>

      <div class="menu__render-mode">
        <input
          type="radio"
          [id]="renderModeEnum.SOFTWARE"
          name="renderMode"
          [value]="renderModeEnum.SOFTWARE"
          [(ngModel)]="renderMode" />
        CPU
        <input
          type="radio"
          name="renderMode"
          [id]="renderModeEnum.HARDWARE"
          [value]="renderModeEnum.HARDWARE"
          [(ngModel)]="renderMode" />
        GPU
      </div>
    </div>
  </div>

  <form>
    <fieldset>
      <legend>Canvas</legend>
      <label for="canvasColor"> Background: </label>
      <input
        [(ngModel)]='canvas.background'
        [ngModelOptions]="{ standalone: true }"
        id="canvasColor"
        type="color"
        (input)="updateCanvasAndDraws()" />
      <br>
    </fieldset>
  </form>
</div>
